@use "variables" as *;

// Responsive breakpoint mixins
// 1480px
@mixin media-2xl {
  @media (max-width: $breakpoint-2xl) {
    @content;
  }
}
// 1200px
@mixin media-xl {
  @media (max-width: $breakpoint-xl) {
    @content;
  }
}
// 920px
@mixin media-lg {
  @media (max-width: $breakpoint-lg) {
    @content;
  }
}
// 640px
@mixin media-md {
  @media (max-width: $breakpoint-md) {
    @content;
  }
}
// 480px
@mixin media-sm {
  @media (max-width: $breakpoint-sm) {
    @content;
  }
}
// 320px
@mixin media-xs {
  @media (max-width: $breakpoint-xs) {
    @content;
  }
}

// Container mixin
@mixin container {
  width: 100%;
  margin: 0 auto;
  max-width: $breakpoint-2xl;
  padding: 0 40px;

  @include media-lg {
    padding: 0 20px;
  }

  @include media-sm {
    padding: 0 10px;
  }
}

// Flexbox mixins
@mixin flex {
  display: flex;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

// Text mixins
@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin heading-1 {
  font-weight: 800;
  font-size: 82px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: $color-turquoise;
}

@mixin heading-2 {
  font-weight: 600;
  font-size: 54px;
  text-transform: uppercase;
  color: $color-turquoise;

  @include media-sm {
    font-weight: 500;
    font-size: 26px;
  }
}

@mixin heading-3 {
  font-weight: 500;
  font-size: 42px;
  text-transform: uppercase;

  @include media-sm {
    font-size: 26px;
  }
}

@mixin text-1 {
  font-weight: 500;
  font-size: 26px;
  line-height: 1.3;
}

@mixin text-2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}
