// Colors
$color-black: #000000;
$color-navy: #20113d;
$color-white: #ffffff;
$color-orange: #f58021;
$color-turquoise: #00a092;

// Breakpoints
$breakpoint-desktop: 1920px;
$breakpoint-laptop: 1200px;
$breakpoint-tablet: 640px;
$breakpoint-mobile: 430px;
