@use "../variables" as *;
@use "../mixins" as *;

.button {
  border-radius: 5px;
  padding: 26px 30px;
  background-color: $color-orange;

  @include tablet {
    padding: 26px 52.36px;
  }

  @include mobile {
    padding: 11.5px 0;
    width: 100%;
  }

  a {
    @include flex-center;
    gap: 10px;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    color: $color-white;
  }

  &_transparent {
    padding: 24px 18.19px;
    background-color: transparent;

    a {
      color: $color-orange;
      font-size: 20px;
    }
  }

  &_navy {
    display: block;
    margin: 0 auto;
    border: 1px solid $color-navy;
    background-color: transparent;
    padding: 26px 35.86px;

    @include tablet {
      padding: 26px 28.86px;
    }

    a {
      color: $color-navy;
    }
  }
}

.button-donation {
  border-radius: 5px;
  border: 1px solid $color-white;
  display: grid;
  grid-template-columns: minmax(200px, 1fr) minmax(76px, 80px);
  align-items: center;
  overflow: hidden;

  @include mobile {
    grid-template-columns: minmax(0, 240px) minmax(0, 58px);
  }

  &__text {
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    color: $color-white;
    padding: 26px 14px;

    @include tablet {
      padding: 26px 39px;
    }

    @include mobile {
      padding: 12px 26px;
      font-size: 16px;
    }
  }

  &__icon {
    @include flex-center;
    border-radius: 5px;
    background: $color-orange;
    color: $color-white;
    height: 100%;
  }
}
