@use "../variables" as *;
@use "../mixins" as *;

.donation {
  background-color: $color-navy;
  color: $color-white;
  padding: 50px 0;

  @include mobile {
    padding: 30px 0;
  }

  &__container {
    @include container;
    @include flex-between;
    align-items: start;
    gap: 30px;

    @include laptop {
      padding: 0 100px;
    }

    @media (max-width: 820px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 20px;
    }

    @include mobile {
      padding: 0 10px;
    }
  }

  &__content {
    @include laptop {
      max-width: 576px;
    }
  }

  &__title {
    margin-bottom: 20px;

    @include tablet {
      text-align: center;
      margin-bottom: 30px;
    }
  }

  &__text {
    color: $color-white;

    @include tablet {
      text-align: center;
    }
  }

  &__label {
    margin-bottom: 10px;

    @include tablet {
      text-align: center;
    }
  }
}

.landing-donation__text {
  max-width: 610px;
}

.animals-donation__text {
  max-width: 920px;
}
