@use "../variables" as *;
@use "../mixins" as *;

.header {
  background-color: $color-orange;
  padding: 30px 0;

  h1 {
    @include visually-hidden;
  }

  &__container {
    @include container;
    @include flex-between;

    @include media-md {
      padding: 0 40px;
    }

    @include media-sm {
      padding: 0 20px;
    }
  }

  &__nav {
    @include flex;
    column-gap: 50px;

    @include media-xl {
      column-gap: 40px;
    }
  }

  &__nav-list {
    @include flex;
    column-gap: 48.25px;

    @include media-xl {
      column-gap: 20px;
    }

    @include media-lg {
      column-gap: 15px;
    }
  }

  &__nav-item {
    &:last-child {
      @include media-lg {
        display: none;
      }
    }
  }

  &__nav-link {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
    text-transform: uppercase;
    color: $color-black;
    transition: $transition;

    &:hover,
    &:active {
      color: $color-turquoise;
    }
  }

  &__nav-link_active {
    color: $color-turquoise;
  }

  &__social {
    @include flex;
    column-gap: 30px;

    @include media-xl {
      column-gap: 20px;
    }

    @include media-lg {
      display: none;
    }
  }

  &__social-link {
    @include flex-center;
    width: 40px;
    height: 40px;
    transition: $transition;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__btn {
    span {
      @include media-xl {
        display: none;
      }
    }
  }

  &__burger {
    display: none;
  }

  &__overlay {
    display: none;
  }
}

// Burger Menu

@include media-md {
  .header__burger {
    @include flex-column;
    justify-content: center;
    gap: 6px;
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 1002;

    span {
      display: block;
      width: 100%;
      height: 3px;
      background-color: $color-black;
      transition: $transition;
    }

    &_active {
      span {
        background-color: $color-white;
        &:nth-child(1) {
          transform: translateY(9px) rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: translateY(-9px) rotate(-45deg);
        }
      }
    }
  }

  .header__nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 311px;
    height: 100vh;
    padding-top: 150px;
    background-color: $color-navy;
    @include flex-column;
    align-items: center;
    justify-content: start;
    transform: translateX(100%);
    transition: $transition;
    z-index: 1001;

    &-list {
      flex-direction: column;
      row-gap: 50px;
    }

    &-link {
      text-align: center;
      color: $color-white;

      &_active {
        color: $color-turquoise;
      }
    }

    &_open {
      transform: translateX(0);
    }
  }

  .header__social {
    display: none;
  }

  .header__overlay {
    display: block;
    position: fixed;
    inset: 0;
    background-color: rgba($color-black, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 1000;

    &_visible {
      opacity: 1;
      visibility: visible;
    }
  }

  .header__btn {
    margin-top: 50px;
    span {
      display: block;
    }
  }
}
