@use "../variables" as *;
@use "../mixins" as *;

.pagination {
  display: none;

  @include mobile {
    display: flex;
    column-gap: 20px;
    justify-content: center;
  }

  &-item {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid $color-white;
    &_active {
      background-color: $color-white;
    }
  }

  &_white {
    @include tablet {
      display: flex;
      column-gap: 20px;
      justify-content: center;
    }

    .pagination-item {
      border: 1px solid $color-black;

      &_active {
        background-color: $color-black;
      }
    }
  }
}
